/** Dark theme primary colors */
$color-primary-a0: #32a623;
$color-primary-a10: #51b040;
$color-primary-a20: #6bba59;
$color-primary-a30: #82c470;
$color-primary-a40: #97ce88;
$color-primary-a50: #add89f;

$color-secondary-a0: #eaea00;
$color-secondary-a10: #eeec3e;
$color-secondary-a20: #f2ee5d;
$color-secondary-a30: #f5f177;
$color-secondary-a40: #f8f38f;
$color-secondary-a50: #fbf5a6;

/** Dark theme surface colors */
$color-surface-a0: #121212;
$color-surface-a10: #282828;
$color-surface-a20: #3f3f3f;
$color-surface-a30: #575757;
$color-surface-a40: #717171;
$color-surface-a50: #8b8b8b;

$font-family-accent: 'Tenor Sans', serif;
$font-family-base: 'Roboto', serif;

$container-width: 1240px;
$padding-inner: 20px;

$gap-large: 32px;
$gap: 16px;
$gap-small: 8px;

$section-padding-y: 80px;

$border-radius: 16px;

$transition-duration: 0.2s;
